body {
    font-family: 'Arial', sans-serif;
}

.navbar-brand {
    font-weight: bold;
}

.card-title {
    font-size: 1.25rem;
}

.card-img-top {
    height: 250px;
    object-fit: cover;
}

.navbar {
    background-color: #f8f9fa; /* Light background color */
}

.navbar .nav-link {
    color: #007bff; /* Link color */
}

.navbar .btn {
    transition: background-color 0.3s, border-color 0.3s;
}

.navbar .btn:hover {
    background-color: #007bff; /* Button background color on hover */
    color: white; /* Text color on hover */
}
